<h2 mat-dialog-title>{{isEditing ? "Edit Reply" : "Add Reply"}}</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="outline">
    <textarea formControlName="text"
              matInput
              placeholder="Reply to the comment"
              required></textarea>
    <mat-error *ngIf="form.controls.text.invalid">{{getValidationMessage('text')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button (click)="close()" class="mat-raised-button">
    Close
  </button>

  <button (click)="save()"
          [disabled]="form.invalid || isSaving"
          class="mat-raised-button mat-primary">
    {{isEditing ? "Update" : "Reply"}}
  </button>
</mat-dialog-actions>
