<mat-card>
  <img mat-card-image [src]="restaurant?.photo" alt="Image of {{restaurant.name}}">
  <mat-card-content>
    <div>
      <div class="details">
        <h2>{{restaurant?.name}}</h2>
        <div class="rating">
          <app-rating-stars [rating]="restaurant.avgRating"></app-rating-stars>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<button mat-flat-button color="accent" (click)="addRating()">
  Add Rating
</button>

<ng-container *ngIf="ratings">
  <div *ngFor="let review of ratings">
    {{review.text}} - {{review.rating}} - {{review.userId}}
    <app-rating-stars [rating]="review.rating"></app-rating-stars>
    <mat-divider></mat-divider>
  </div>
</ng-container>
