<div fxLayout="row wrap" fxFill fxLayoutAlign="space-evenly center">
  <div fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="100">
    <mat-card *ngIf="restaurant" class="mat-elevation-z5">

      <img [src]="restaurant?.photo || placeholder" alt="Image of {{restaurant.name}}" mat-card-image>

      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <h2>{{restaurant?.name}}</h2>
          </div>
          <button [matMenuTriggerFor]="restoMenu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>

        </div>
        <div class="rating">
          <app-rating-stars [rating]="restaurant.avgRating"></app-rating-stars>
        </div>
      </mat-card-content>

      <app-reviews *ngIf="restaurant" [restaurant]="restaurant"></app-reviews>

    </mat-card>

    <mat-menu #restoMenu="matMenu">
      <button (click)="editRestaurant()" mat-menu-item>
        <span>Edit</span>
      </button>

      <button (click)="deleteRestaurant()" mat-menu-item>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>

