.rating {
  mat-icon {
    color: #feb22c;
  }

  &.user-input {
    mat-icon {
      cursor: pointer;
      width: 42px;
      height: 42px;
      font-size: 42px;
    }
  }

  .number {
    font-size: 20px;
  }
}
