<h2 mat-dialog-title>{{isEditing ? "Edit Restaurant" : "Add Restaurant"}}</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Name"
           required
           formControlName="name">
    <mat-error *ngIf="form.controls.name.invalid">{{getValidationMessage('name')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" [disabled]="form.invalid || isSaving"
          (click)="isEditing ? update() : create()">
    {{isEditing ? "Update" : "Create"}}
  </button>
</mat-dialog-actions>
