<h2 mat-dialog-title>{{isEditing ? "Edit Restaurant" : "Add Restaurant"}}</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Restaurant name"
           required
           formControlName="name">
    <mat-error *ngIf="form.controls.name.invalid">{{getValidationMessage('name')}}</mat-error>
  </mat-form-field>

  <div class="upload">
    <span>Image:</span>

    <input (change)="selectFile($event)" type="file">
    <div *ngIf="(uploadPercent$ | async) as percentage">
      Upload Progress:
      <mat-progress-bar [value]="percentage" class="progress-bar" mode="determinate">
      </mat-progress-bar>
      <span>{{percentage / 100 | percent}}</span>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button (click)="save()"
          [disabled]="form.invalid || isSaving"
          class="mat-raised-button mat-primary">
    {{isEditing ? "Update" : "Create"}}
  </button>
</mat-dialog-actions>
