service firebase.storage {
  function isAdmin() {
    return isAuthenticated() && request.auth.token.role == 'admin';
  }

  function isOwner() {
    return isAuthenticated() && request.auth.token.role == 'owner';
  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }

    match /restaurants/{ownerId}/{allPaths=**} {
      allow read;
      allow write: if isOwner() && request.auth.uid == ownerId;
    }
  }
}
