<div class="review" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <app-user-avatar [photoURL]="review?.user?.photoURL"></app-user-avatar>
    <span>{{review?.user?.displayName}}</span>
  </div>

  <div>
    <button *ngIf="user?.isAdmin || review.userId == user?.uid" [matMenuTriggerFor]="reviewMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <app-rating-stars [rating]="review.rating" [showNumberRating]="false"></app-rating-stars>
  <span class="faded">{{review.createdAt._seconds * 1000 | date }}</span>
</div>

<div class="comment">
  {{review.comment}}
  <div class="faded date-of-visit">Visit date: {{review.dateOfVisit | date}}</div>
</div>

<div *ngIf="review.reply; else replyButton" class="reply">
  <div class="tip"></div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="reply-author">
      <span class="name">{{review.reply?.user?.displayName}}</span>
      <span class="faded">{{review.reply.createdAt._seconds * 1000 | date }}</span>
    </div>

    <button *ngIf="canReply" [matMenuTriggerFor]="replyMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <div class="reply-text">{{review?.reply?.text}}</div>
</div>

<ng-template #replyButton>
  <div *ngIf="canReply" fxLayout="row" fxLayoutAlign="end center">
    <button (click)="setReply(review)" mat-flat-button>
      <mat-icon>reply</mat-icon>
      <span>Reply</span>
    </button>
  </div>
</ng-template>

<mat-menu #replyMenu="matMenu">
  <button (click)="setReply(review)" mat-menu-item>
    <span>Edit reply</span>
  </button>

  <button (click)="deleteReply(review)" mat-menu-item>
    <span>Delete reply</span>
  </button>
</mat-menu>

<mat-menu #reviewMenu="matMenu">
  <button (click)="editReview(review)" mat-menu-item>
    <span>Edit review</span>
  </button>

  <button (click)="deleteReview(review)" mat-menu-item>
    <span>Delete review</span>
  </button>
</mat-menu>
