mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-icon {
  padding: 0 14px;
}

.main-container {
  padding: 80px 60px 60px;
  @media(max-width: 600px) {
    padding: 80px 20px;
  }
  @media(min-width: 1280px) {
    padding: 180px 12%;
  }
}
