<h2 mat-dialog-title>Reset password</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Password"
           autocomplete="new-password"
           formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="form.controls.password.invalid">
      {{getValidationMessage('password')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="hide ? 'password' : 'text'" required placeholder="New Password"
           autocomplete="new-password"
           formControlName="newPass">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="form.controls.newPass.invalid">
      {{getValidationMessage('newPass')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Confirm Password"
           autocomplete="new-password"
           formControlName="passConfirmation">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="form.controls.passConfirmation.invalid">
      {{getValidationMessage('passConfirmation')}}
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          [disabled]="form.invalid" (click)="reset()">Reset
  </button>
</mat-dialog-actions>
