<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="90">

    <mat-label>{{appliedFilter}}</mat-label>
    <mat-select #filterSelect (closed)="applyFilter()" [formControl]="" multiple>

      <div class="sort-option-wrap">
        <mat-option class="hidden"></mat-option>
      </div>

      <div class="sort-option-wrap">
        <mat-option class="hidden"></mat-option>
        <mat-option class="hidden"></mat-option>
        <div class="sort-option">
          <label>Rating stars:</label>
          <mat-radio-group [(ngModel)]="ratingFilter">
            <mat-radio-button *ngFor="let opt of ratingOptions" value="{{opt}}">{{opt}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="sort-option-wrap">
        <mat-option class="hidden"></mat-option>
        <div class="sort-option">
          <label>Sort:</label>
          <mat-radio-group [(ngModel)]="sort">
            <mat-radio-button value="asc">Asc</mat-radio-button>
            <mat-radio-button value="desc">Desc</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="sort-option-wrap">
        <mat-option class="hidden"></mat-option>
        <mat-option class="hidden"></mat-option>
        <div class="apply-button">
          <button (click)="filterSelect.close()" color="primary" mat-button>
            Apply
          </button>
        </div>
      </div>

    </mat-select>
  </mat-form-field>

  <div *ngIf="canAdd">
    <button id="addBtn" mat-fab title="Add new Restaurant" color="primary" (click)="addRestaurant()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between stretch">

  <ng-container *ngIf="restaurants.length; else noRestaurants">
    <div *ngFor="let restaurant of restaurants"
         fxFlex="30" fxFlex.lt-md="45" fxFlex.xs="100">
      <div class="resto-card" routerLink="/restaurants/{{restaurant.id}}">
        <mat-card [matBadgeHidden]="!restaurant.pendingReplies"
                  [matBadge]="restaurant.pendingReplies"
                  matBadgeColor="warn"
                  matBadgeDescription="Comments without replies">
          <mat-card-content>
            <img [src]="restaurant?.photo || placeholder" alt="Image of {{restaurant.name}}" mat-card-image>
            <div>
              <div class="details">
                <h2>{{restaurant.name}}</h2>
                <app-rating-stars [rating]="restaurant.avgRating"></app-rating-stars>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noRestaurants>
    <div *ngIf="!isLoading" class="no-resto" fxFlexFill>No restaurants. Try to change filter parameters.</div>
  </ng-template>
</div>
