.sort-option-wrap {
  position: relative;

  .hidden {
    visibility: hidden;
  }

  .apply-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .sort-option {
    position: absolute;
    top: 10px;
    left: 20px;

    label {
      font-size: 1.4em;
    }

  }

  mat-radio-button {
    margin: auto 7px;
  }
}

#addBtn {
  margin-left: 20px;
  margin-top: -20px;
}

.container {
  margin-right: -25px;
}

mat-card {
  margin-bottom: 42px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .1), 0 8px 8px 0 rgba(0, 0, 0, .1), 0 8px 8px 0 rgba(0, 0, 0, .1) !important;
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  }

  img {
    object-fit: cover;
  }
}

.no-resto {
  text-align: center;
  margin-top: 100px;
}
