<div fxFill fxLayout="row wrap" fxLayoutAlign="center center">

  <div *ngFor="let review of (reviews$ | async)" class="review" fxFlex="51" fxFlex.xs="100">
    <mat-card>
      <app-rating-stars [rating]="review.rating" [showNumberRating]="false"></app-rating-stars>
      <mat-divider></mat-divider>
      <mat-form-field appearance="outline">
        <textarea disabled matInput>{{review.comment}}</textarea>
      </mat-form-field>

      <mat-card-actions>
        <div dir="rtl" fxLayout="row" fxLayoutGap="10px">
          <button (click)="deleteReview(review)" color="primary" mat-mini-fab>
            <mat-icon>delete_sweep</mat-icon>
          </button>
          <button (click)="editReview(review)" color="primary" mat-mini-fab>
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="replyToReview(review)" *ngIf="!review.reply" color="primary" mat-mini-fab>
            <mat-icon>reply</mat-icon>
          </button>
        </div>
      </mat-card-actions>

      <div *ngIf="review.reply" class="reply">
        <mat-form-field appearance="outline">
          <textarea disabled matInput>{{review?.reply?.text}}</textarea>
        </mat-form-field>
        <mat-card-actions>
          <div dir="rtl" fxLayout="row" fxLayoutGap="10px">
            <button (click)="deleteReply(review)" color="primary" mat-mini-fab>
              <mat-icon>delete_sweep</mat-icon>
            </button>
            <button (click)="editReply(review)" color="primary" mat-mini-fab>
              <mat-icon>create</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>

