<mat-tab-group (selectedTabChange)="tabChange($event)" mat-align-tabs="center">
  <mat-tab label="All reviews"></mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
    <span [matBadge]="restaurant.pendingReplies.toString()"
          matBadgeColor="warn"
          matBadgeOverlap="false"
    >Unanswered reviews</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="reviews">
  <div *ngFor="let review of (reviews$ | async)" class="review">
    <app-review-card [review]="review"></app-review-card>
  </div>

  <app-infinite-scroll (scrolled)="loadReviews()" [options]="{rootMargin: '100px'}">
  </app-infinite-scroll>
</div>
