<div *ngIf="user && !isOwnedResto" class="my-review">
  <div *ngIf="myReview; else writeReview">
    <mat-tab-group>
      <mat-tab label="My review"></mat-tab>
    </mat-tab-group>
    <app-review-card [review]="myReview"></app-review-card>
  </div>

  <ng-template #writeReview>
    <button (click)="addReview()" color="primary" mat-flat-button>
      <mat-icon>create</mat-icon>
      Write a review
    </button>
  </ng-template>
</div>

<mat-tab-group (selectedTabChange)="tabChange($event)">
  <mat-tab label="All reviews"></mat-tab>
  <mat-tab *ngIf="isOwnedResto || user?.isAdmin">
    <ng-template matTabLabel>
    <span [matBadge]="restaurant.pendingReplies.toString()"
          [matBadgeHidden]="!restaurant.pendingReplies"
          matBadgeColor="warn"
          matBadgeOverlap="false"
    >Unanswered reviews</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="reviews">
  <div *ngIf="(reviews$ | async).length; else noReviews">
    <div *ngFor="let review of (reviews$ | async)" class="review">
      <app-review-card [canReply]="isOwnedResto || user?.isAdmin" [review]="review"></app-review-card>
    </div>
  </div>

  <ng-template #noReviews>
    <div *ngIf="!isLoading" class="no-reviews">
      <div>No reviews</div>
    </div>
  </ng-template>

  <app-infinite-scroll (scrolled)="loadReviews()" [options]="{rootMargin: '100px'}">
  </app-infinite-scroll>

</div>
